@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(#000000, #ffffff);
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    z-index: 1000;
}

header .logo {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    color: #2e2e2e;
    background: #ffffff;
}

section {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-top: 60px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #ffffff, transparent);
    z-index: 100;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#letterk {
    mix-blend-mode: screen;
}

section img#mountains_front {
    z-index: 10;
}

#text {
    position: absolute;
    color: #fff;
    right: -350px;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn {
    background: #fff;
    border-radius: 40px;
    color: #2e2e2e;
    display: inline-block;
    font-size: 1.5em;
    padding: 8px 30px;
    text-decoration: none;
    transform: translateY(100px);
    z-index: 9;
}

.sec {
    background: #ffffff;
    position: relative;
    padding: 100px;
}

.sec h2 {
    color: #000000;
    font-size: 3.5em;
    margin-bottom: 10px;
}

.sec p {
    color: #000000;
    font-size: 1.2em;
}

.contactinfo {
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: #ffffff;
    font-size: 18px;
}

.contactinfo h2 {
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 10px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #ffffff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: #000000;
}

button:hover, a:hover {
    opacity: 0.7;
}

.closing {
    font-size: 14px;
    text-align: center;
    margin-top: 30px; 
}

#msg {
    color: #000000;
    margin-top: -40px;
    display: block;
    text-align: center;
}
